<!DOCTYPE html>

<html>
    <head>
        <title>Report #123912932 - 10/10/2010 18:20 - Wight v0.1.0</title>
        <link rel="stylesheet" href="{{ static_url('css/nv.d3.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('css/wight.css') }}" type="text/css" />
    </head>

    <body>
        <div class="container">
            <div class="hero-unit">
                <h1>my-funky-project</h1>
                <p>Testando api de geolocation Bench result of GeoTests.test_geo: No test description</p>
                <p><small>This report details the test run at <span class="text-info">10/10/2012 10:10:10</span>, scheduled by user <span class="text-info">heynemann@gmail.com</span>.</small></p>
                <a href="#">Permalink for this test</a>
            </div>

            <div class="page-header">
              <h1>Bench Configuration <small>details of the configuration for this test</small></h1>
            </div>

            <div class="row">
                <div class="span6">
                    <dl class="dl-horizontal">
                      <dt>Launched</dt>
                      <dd>2008-11-07 16:03:28</dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt>Test File</dt>
                      <dd><code>test_SeamBooking.py</code></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt>Test Method</dt>
                      <dd><code>SeamBooking.test_seam_booking</code></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt>Target server</dt>
                      <dd><a href="http://joyeux:8080">http://joyeux:8080</a></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt title="Cycles of concurrent users">Cycles of concurrent users</dt>
                      <dd><code>[1, 20, 40, 60, 80, 100, 120, 140]</code></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt title="Cycle duration">Cycle duration</dt>
                      <dd>30 seconds</dd>
                    </dl>
                </div>
                <div class="span6">
                    <dl class="dl-horizontal">
                      <dt title="Sleeptime between request">Sleeptime between request</dt>
                      <dd>from <span class="text-info">0.01s</span> to <span class="text-info">2.0s</span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt title="Sleeptime between test case">Sleeptime between test case</dt>
                      <dd><span class="text-info">1.0s</span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt title="Startup delay between thread">Startup delay between thread</dt>
                      <dd><span class="text-info">0.2s</span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt title="Apdex">Apdex</dt>
                      <dd>1.5</dd>
                    </dl>
                    <dl class="dl-horizontal">
                      <dt title="FunkLoad version">FunkLoad version</dt>
                      <dd>1.9.0b-r53028</dd>
                    </dl>
                </div>
            </div>

            <div class="page-header">
              <h1>Test Results <small>details for tests, pages and requests</small></h1>
            </div>

            <div class="row">
                <div class="span3">
                    <h4>contents</h4>
                    <ul class="inline stats">
                        <li><i class="icon-home"></i><span class="text-info">12</span> pages</li>
                        <li><i class="icon-retweet"></i><span class="text-info">7</span> redirects</li>
                        <li><i class="icon-globe"></i><span class="text-info">2</span> links</li>
                        <li><i class="icon-picture"></i><span class="text-info">3</span> images</li>
                        <li><i class="icon-upload"></i><span class="text-info">0</span> xmlrpc</li>
                    </ul>

                    <h4>activity</h4>
                    <ul class="inline totals">
                        <li><i class="icon-home"></i><span class="text-info">823</span> tests</li>
                        <li><i class="icon-retweet"></i><span class="text-info">10417</span> pages</li>
                        <li><i class="icon-globe"></i><span class="text-info">20772</span> requests</li>
                    </ul>
                </div>
                <div class="span9">
                    <h2>Test results <small>test statistics per test suite</small></h2>
                    <div class="chart test-stats"><svg></svg></div>

                    <table class="test-result-table table table-hover table-condensed">
                        <thead>
                            <th>Concurrent users</th>
                            <th>Successful tests per second</th>
                            <th>Total</th>
                            <th>Success</th>
                            <th>Error</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>0.067</td>
                                <td>2</td>
                                <td>2</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>1.300</td>
                                <td>39</td>
                                <td>39</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>40</td>
                                <td>2.667</td>
                                <td>80</td>
                                <td>80</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>60</td>
                                <td>4.233</td>
                                <td>127</td>
                                <td>127</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>80</td>
                                <td>4.933</td>
                                <td>148</td>
                                <td>148</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>4.567</td>
                                <td>137</td>
                                <td>137</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>120</td>
                                <td>4.800</td>
                                <td>144</td>
                                <td>144</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>140</td>
                                <td>4.867</td>
                                <td>146</td>
                                <td>146</td>
                                <td>0.00%</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Page results <small>test statistics per page</small></h2>
                    <div class="chart page-stats"><svg></svg></div>

                    <table class="test-result-table table table-hover table-condensed">
                        <thead>
                            <th>Concurrent users</th>
                            <th>Successful tests per second</th>
                            <th>Total</th>
                            <th>Success</th>
                            <th>Error</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>0.067</td>
                                <td>2</td>
                                <td>2</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>1.300</td>
                                <td>39</td>
                                <td>39</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>40</td>
                                <td>2.667</td>
                                <td>80</td>
                                <td>80</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>60</td>
                                <td>4.233</td>
                                <td>127</td>
                                <td>127</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>80</td>
                                <td>4.933</td>
                                <td>148</td>
                                <td>148</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>4.567</td>
                                <td>137</td>
                                <td>137</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>120</td>
                                <td>4.800</td>
                                <td>144</td>
                                <td>144</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>140</td>
                                <td>4.867</td>
                                <td>146</td>
                                <td>146</td>
                                <td>0.00%</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Request results <small>test statistics per request</h2>
                    <div class="chart request-stats"><svg></svg></div>

                    <table class="test-result-table table table-hover table-condensed">
                        <thead>
                            <th>Concurrent users</th>
                            <th>Successful tests per second</th>
                            <th>Total</th>
                            <th>Success</th>
                            <th>Error</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>0.067</td>
                                <td>2</td>
                                <td>2</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>1.300</td>
                                <td>39</td>
                                <td>39</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>40</td>
                                <td>2.667</td>
                                <td>80</td>
                                <td>80</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>60</td>
                                <td>4.233</td>
                                <td>127</td>
                                <td>127</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>80</td>
                                <td>4.933</td>
                                <td>148</td>
                                <td>148</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>4.567</td>
                                <td>137</td>
                                <td>137</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>120</td>
                                <td>4.800</td>
                                <td>144</td>
                                <td>144</td>
                                <td>0.00%</td>
                            </tr>
                            <tr>
                                <td>140</td>
                                <td>4.867</td>
                                <td>146</td>
                                <td>146</td>
                                <td>0.00%</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <script src="{{ static_url('js/jquery-2.0.0.min.js') }}"></script>
        <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
        <script src="{{ static_url('js/d3.v2.min.js') }}"></script>
        <script src="{{ static_url('js/fisheye.js') }}"></script>
        <script src="{{ static_url('js/nv.d3.min.js') }}"></script>
        <!--<script src="{{ static_url('js/legend.js') }}"></script>-->
        <!--<script src="{{ static_url('js/line.js') }}"></script>-->

        <script>
            var testData = [{
                values: [
                    { x: 1, y: 0.067 },
                    { x: 20, y: 1.300 },
                    { x: 40, y: 2.667 },
                    { x: 60, y: 4.233 },
                    { x: 80, y: 4.933 },
                    { x: 100, y: 4.567 },
                    { x: 120, y: 4.800 },
                    { x: 140, y: 4.867 }
                ],
                key: "Successful tests per second",
                color: "#597800"
            }, {
                values: [

                ],
                key: "Failed tests per second",
                color: "#ca0000"
            }];

            var drawGraph = function(element, data, xLabel, yLabel) {
                nv.addGraph(function() {  
                    var chart = nv.models.lineChart();

                    chart.xAxis
                        .axisLabel(xLabel)
                        .tickFormat(d3.format(',r'));

                    chart.yAxis
                        .axisLabel(yLabel)
                        .tickFormat(d3.format('.02f'));

                    d3.select(element)
                        .datum(data)
                        .transition().duration(500)
                        .call(chart);

                    nv.utils.windowResize(function() { d3.select(element).call(chart) });
                    return chart;
                });
            };

            drawGraph('.test-stats svg', testData, 'Concurrent users', 'Tests per second');
            drawGraph('.page-stats svg', testData, 'Concurrent users', 'Pages per second');
            drawGraph('.request-stats svg', testData, 'Concurrent users', 'Requests per second');

        </script>
<script src="../lib/d3.v2.js"></script>
<script src="../nv.d3.js"></script>
    </body>
</html>

