body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.hero-unit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 210px;
}

.hero-unit p {
    margin-top: 15px;
}

.hero-unit p small {
    display: block;
    margin-top: -20px;
}

.toolbar a {
    font-size: 14px;
}

.toolbar i {
    margin-right: 5px;
}

.totals li,
.stats li {
    margin-top: 10px;
}

.totals li i,
.stats li i {
    margin-right: 2px;
}

.page-stats svg,
.test-stats svg,
.request-stats svg {
    height: 400px;
}

.request-response-time svg,
.page-response-time svg {
    height: 550px;
}

.page-apdex {
    margin-top: -30px;
}

.page-apdex svg {
    height: 200px;
}

.test-result-table {
    margin-top: 10px;
    margin-bottom: 60px;
}

.legend {
    margin-top: -60px;
    margin-bottom: 30px;
    text-align: right;
}

.diff .hero-unit h3 {
    margin-top: 40px;
}

.diff .hero-container {
    margin-top: -26px;
    margin-bottom: 30px;
    font-size: 0;
}

.diff .half {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
}

.diff .request-rps svg {
    height: 400px;
}

.diff .request-percentage {
    margin-top: -58px;
}

.diff .request-percentage svg {
    height: 200px;
}

.diff .request-average {
    margin-top: 30px;
    margin-right: 40px;
}

.diff .request-average svg {
    height: 400px;
}

.diff .request-average-percentage {
    margin-top: -58px;
    margin-right: 40px;
}

.diff .request-average-percentage svg {
    height: 250px;
}

.diff .request-median svg,
.diff .request-p90 svg,
.diff .request-max svg {
    height: 210px;
}

.diff .page-pps svg {
    height: 400px;
}

.trend .apdex svg {
    height: 400px;
}

.trend .legend {
    margin-top: -30px;
    margin-bottom: 30px;
    text-align: right;
    margin-right: 28px;
}

.trend .apdex-cycles {
    margin-bottom: 20px;
}

.trend .response-time svg,
.trend .pps svg {
    height: 600px;
}

.trend .report-list {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;

    text-align: center;

    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: solid 1px #eee;
}

.trend .report-list a {
    display: block;
}
